<form action="/weather" method="POST">
    <input type="text" placeholder="Enater a City" name="cityName">
    <button type="submit">Submit</button>
</form>
<p class="err">{{errorText}}</p>
<p class="err">{{adviceText}}</p>
<p class="degrees">{{degreesFahrenheit}}</p>
<p>{{weatherText}}</p>