<div class="form">
<form action="/weather" method="POST">
    <input type="text" placeholder="Enater a City" name="cityName">
    <button type="submit">Submit</button>
</form>
</div>
<p>{{cityName}}</p>